page-jugar-online {    
    font-family: "Raleway";
    font-weight: bolder;
    ion-content{
        background-color: #e6e5e5 !important;
    }
    .borderTituloPregunta{
        border:2px solid #747474;
    }
    .borderRespuestaAPregunta{
        border:1px solid #747474;
        border-top: 0px;
    }

    .item-md {
       padding-left: 0px !important; 
    }
}
